{
  "type": 1,
  "name": "Pulumi Secrets",
  "notes": "Bitwardwen Secrets for Pulumi API",
  "fields": [
    {
      "name": "pulumi-api-key",
      "value": "$PULUMI_API_KEY",
      "type": 0
    }
  ],
  "login": {
    "uris": [],
    "username": null,
    "password": null,
    "totp": null,
    "passwordRevisionDate": null
  }
}